@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white{
    background-color: white;
    color: black;
};

@media (prefers-color-scheme: dark){
    .dark:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
    }

    .dark:bg-gray-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity));
        color:white !important;
    }

    .dark:bg-gray-700 {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity))!important;
    }
}
